{% extends "cottages.html" %}

{% block mainbody %}

<p class="houseTitle">Bose House   </p>
<p class="text"> The cottage, located a few feet from the lakeside, is nestled in between   the Main house and Mink Point. Originally built in the early 20th   century as a small retreat for Irene Mott Bose, the cottage has been   added on to a bit but still remains a cozy cottage, with its Indian   motif (Irene Mott married Vivian Bose, who later became a Supreme Court   Justice in India). </p>



<a href="/images/bose/bose_sittingroom3.jpg" rel="lightbox[bosepics]">
<img src="/images/bose/bose_sittingroom3.jpg" height="150" alt="Bose House Living Room" style="float:left; margin-right: 5px;" rel="lightbox" border=0/></a>

<p class="text">The cottage has accommodations for a family of up to four, with a master bedroom off the living room and an upstairs sleeping loft with two twin   beds. (There is additional overflow space above the kitchen if   necessary). The cottage is rustic and furnishings are simple but   adequate. The cottage is equipped with blankets, but family and friends are expected to provide their own sheets and towels. </p>

<a href="/images/bose/bose_kitchen.jpg" rel="lightbox[bosepics]">
<img src="/images/bose/bose_kitchen.jpg" height="150" alt="Bose House Kitchen" style="float:right; margin-right: 5px;" rel="lightbox" border=0/></a>

<p class="text">The living room has a stone fireplace and a large picture window looking   out on the lake.  The kitchen is reached through a veranda and has an electric stove,   running hot and cold water, a refrigerator; it is fully equipped with   tableware and utensils and includes a dining table. Off the kitchen is a   small bathroom with shower. </p>

<p class="text"><a href="/images/bose/bose_view.jpg" rel="lightbox[bosepics]">
<img src="/images/bose/bose_view.jpg" height="150" alt="Bose House View" style="float:left; margin-right: 5px;" rel="lightbox" border=0/>
</a></p>

<p class="text"> A rowboat, canoe, and paddles are provided. The wharf is located   directly in front of the cottage with relatively deep water off the end,   and a floating wharf to use approximately 15 yards offshore. </p>


<p class="text"> Electricity and fireplace wood are included in the usage fee, and there is a telephone available with an additional charge for long distance. Garbage and recycling must be taken to the main road for municipal collection service. There is a washer and dryer in the garage for Bose cottage use. </p>
<p class="text"> The telephone number is (450) 228-4316, and address is: 660 rue   Daviault, Entrelacs, Quebec, Canada JOT 2EO. </p>
<a href="/images/bose/bose_bedroom.jpg" rel="lightbox[bosepics]" title="Bose House Bedroom">
<img src="/images/bose/bose_bedroom.jpg" height="75" alt="Bose House Bedroom" rel="lightbox" border=0/>
</a>
<a href="/images/bose/bose_sittingroom.jpg" rel="lightbox[bosepics]" title="Bose House Living Room">
<img src="/images/bose/bose_sittingroom.jpg" height="75" alt="Bose House Living Room" rel="lightbox" border=0/>
</a>

<a href="/images/bose/bose_sittingroom2.jpg" rel="lightbox[bosepics]" title="Bose House Living Room">
<img src="/images/bose/bose_sittingroom2.jpg" height="75" alt="Bose House Living Room" rel="lightbox" border=0/>
</a>

{% endblock mainbody %}

{% block rightimages %}
{% endblock rightimages %}