{% extends "cottages.html" %}

{% block mainbody %}
<p class="houseTitle">Island</p>
<p class="text"> 
The cottage, located on a small private island just offshore (100 yards) from the main property, 
was built in the early 20th century.  The island is approximately an acre in size and has a network 
of narrow trails.  
<a href="/images/island/island_view3.jpg" rel="lightbox[islandpics]">
<img src="/images/island/island_view3.jpg" height="150" alt="Island View" style="float:right; margin-right: 5px;" rel="lightbox" border=0/>
</a> 


</p>
<p class="text"> 
The cottage has accommodations for a family of up to six persons. Furnishings are simple but adequate. 
The cottage is equipped with blankets, but family and friends are expected to provide their own sheets and towels.
</p>
<p class="text"> 
The living room is of moderate size with a stone fireplace and a picture window to the northwest 
with an expansive view of the lake and the mountains beyond. 
<a href="/images/island/island_kitchen.jpg" rel="lightbox[islandpics]">
<img src="/images/island/island_kitchen.jpg" height="150" alt="Island Kitchen" style="float:left; margin-right: 5px;" rel="lightbox" border=0/>
</a>

The dining room has a large bay window with the dining area virtually surrounded by woods. 
The kitchen has an electric stove, running hot and cold water and an electric refrigerator; 
it is fully equipped with tableware and utensils.
</p>
<p class="text"> 
There is a large master bedroom with its own fireplace and a wash basin in an alcove with hot and 
cold running water; two small bedrooms (one with wash basin) with one twin bed each and a large screened 
sleeping porch that accommodates up to four twin beds.
<a href="/images/island/island_master.jpg" rel="lightbox[islandpics]">
<img src="/images/island/island_master.jpg" height="150" alt="Island Master Bedroom" style="float:right; margin-right: 5px;" rel="lightbox" border=0/>
</a>

</p>
<p class="text"> 
Porches extend around three sides of the house. There is an inside shower and an indoor toilet. Garbage
 must be taken to the main road for municipal collection service.
</p>
<p class="text"> 
A rowboat and a canoe go with the cottage. In addition to the wharf on the island, there is a mainland 
wharf reserved for use with the island, with a path to the parking area off the Mott road.
</p>
<p class="text"> 
Electricity and fireplace wood are included in the usage fee, and a telephone is available. The telephone 
number is (450) 228-8531, and address is: <br>680 rue Daviault, Entrelacs, Quebec, Canada JOT 2EO.
</p>

<a href="/images/island/island_dining.jpg" rel="lightbox[islandpics]" title="Island Dining">
<img src="/images/island/island_dining.jpg" height="75" alt="Island Dining" rel="lightbox" border=0/>
</a>
<a href="/images/island/island_hammock.jpg" rel="lightbox[islandpics]" title="Island Hammock">
<img src="/images/island/island_hammock.jpg" height="75" alt="Island Hammock" rel="lightbox" border=0/>
</a>
<a href="/images/island/island_living1.jpg" rel="lightbox[islandpics]" title="Island Living Room">
<img src="/images/island/island_living1.jpg" height="75" alt="Island Living Room" rel="lightbox" border=0/>
</a>
<a href="/images/island/island_living2.jpg" rel="lightbox[islandpics]" title="Island Living Room">
<img src="/images/island/island_living2.jpg" height="75" alt="Island Living Room" rel="lightbox" border=0/>
</a>
<a href="/images/island/island_sunset.jpg" rel="lightbox[islandpics]" title="Island Sunset" >
<img src="/images/island/island_sunset.jpg" height="75" alt="Island Sunset" rel="lightbox" border=0/>
</a>
<a href="/images/island/island_view.jpg" rel="lightbox[islandpics]" title="Island View" >
<img src="/images/island/island_view.jpg" height="75" alt="Island View" rel="lightbox" border=0/>
</a>
<a href="/images/island/island_view2.jpg" rel="lightbox[islandpics]" title="Island View" >
<img src="/images/island/island_view2.jpg" height="75" alt="Island View" rel="lightbox" border=0/>
</a>


{% endblock mainbody %}

{% block rightimages %}
{% endblock rightimages %}