{% extends "base.html" %}

{% block title %}{{ block.super }} : Local{% endblock title%}

{% block mainimage %}{% endblock mainimage %}

{% block mainbody %}

If you'd like to explore the surrounding area, here are some links to some outdoor, cultural, and culinary opportunities within an hour's drive:

<ul>
<li><a href="http://www.entrelacs.com/index.html" target=”_blank”>Entrelacs</a> - tiny village about 3miles/5km from the cottages. Can also paddle a couple of miles to town wharf and walk .5 mile. Grocery store, convenient store, gas, church, cafe, hardware store, bank, and that's about it. One quite good restaurant, <a href="http://www.maison-bleue.ca/" target=”_blank”>La Maison Bleue d'Entrelacs</a>, that has a prix fixe menu. Town website includes local weather forecast.
</li>
Ste-Marguerite-du-Lac-Masson - small village, which includes a very nice restaurant, <a href="http://www.bistroachamplain.com/web-content/contact_us.html" target=”_blank”>Bistro Champlain</a>, with an internationally-acclaimed wine cellar. About 15 minutes away.
</li><li>
<a href="http://www.valdavid.com/en/index.php" target=”_blank”>Val-David</a> - a small village and nearby artists' community, with several nice restaurants and bakeries. It is also a gateway to the Linear Park, with rental facilities for biking, canoeing and kayaking. About 20-25 minutes away.
</li><li>
<a href="http://www.ville.sainte-adele.qc.ca/tourisme.html" target=”_blank”>Ste Adele</a> - larger town with several good <a href="http://www.sainte-adele.net/restaurant" target=”_blank”>restaurants</a>, shopping, and cinema. About 20-25 minutes away.
</li><li>
<a href="http://www.laurentians.com/parclineaire/" target=”_blank”>"Le P'tit Train du Nord" Linear Park</a> - 200km trail on old railroad bed that follows rivers, lakes, and rugged landscapes, and with some places to eat/drink along the way. Great for biking, walking, xc skiing. Trail access points about 25 minutes away.
</li><li>
<a href="http://www.saint-sauveur.net/st-sau-an/index_html" target=”_blank”>Saint-Saveur</a> - a larger more built up village with a <a href="http://www.tripadvisor.com/Restaurants-g182173-Saint_Sauveur_des_Monts_Quebec.html" target=”_blank”>wide variety of restaurants</a>, water and alpine slides, other sports. In winter there are lots of downhill <a href="http://www.mssi.ca/" target=”_blank”>ski slopes</a>.  In fact, the area's claim to fame is the largest illuminated ski area in the world that is about 25-30 minutes away.
</li><li>
<a href="http://www.tourisme-montreal.org/" target=”_blank”>Montreal</a> - wonderful, cosmopolitan city with all sorts of opportunities including various festivals all summer. Many other websites with info on Montreal to check out, such as <a href="http://en.wikipedia.org/wiki/Montreal" target=”_blank”>Wikipedia</a>, <a href="http://wikitravel.org/en/Montreal" target=”_blank”>Wikitravel</a>. About one hour's drive.
</li><li>
<a href="http://www.lanaudiere.ca/en/" target=”_blank”>Lanaudiere region</a> - Lac des Iles is exactly on the line between these two regions: Lanaudiere and Laurentians.
</li><li>
<a href="http://www.laurentians.com/" target=”_blank”>Laurentian region</a> - more well known region than Lanaudiere and more developed.
</li><li>
<a href="http://www.sepaq.com/pq/mot/index.dot?language_id=1" target=”_blank”>Mont-Tremblant National Park</a> - great outdoor adventures in largest protected area in Quebec, with moose and other wildlife. About an hour away.
</li><li>
<a href="http://www.bonjourquebec.com/qc-en/decouvrez0.html" target=”_blank”>Bonjour Quebec</a> - tourist site for Government of Quebec.
</li>
</ul>
Beyond an hour's drive:
<ul>
<li>
<a href="http://www.ottawatourism.ca/" target=”_blank”>Ottawa</a> - Capital of Canada. About 2.5 hours away.
</li><li>
<a href="http://www.quebecregion.com/en" target=”_blank”>Quebec City</a> - Capital of Quebec. About 3.5 hours away.
</li>

{% endblock mainbody %}