{% extends "cottages.html" %}

{% block mainbody %}
<p class="houseTitle">Main House</p>
<p class="text">
This property was bought by John R. Mott more than 100 years ago. 
The original log house burned down in 1951 and was replaced in 1952. 
The "new" house is spacious and in a prime location on the lake, 
with such conveniences as two bathrooms, well-equipped kitchen, 
electric stove, washer and dryer. The house is not winter-tight but is 
comfortable from May through September, with first-floor insulation, fireplaces, 
and baseboard heaters.
</p>
<p class="text"> 
There are ample facilities for six people in three bedrooms, each with two 
twin beds; the master bedroom has a fireplace and its own bathroom. There is 
also a large dormitory space and play room upstairs.  In addition, there is an adjacent 
(100 yards from house) one-room log "lodge" with large fireplace and two twin beds.
</p>
<p class="text">
The living room has a fireplace and Steinway grand piano, with an offset dining area. 
A picture window in the living room looks out on the lake.  A screened porch to the 
south and an open porch to the north off the living room also provide nice views of 
woods and lake. The house is equipped with blankets, but family and friends are expected to 
provide their own sheets and towels. There are two yards, one sloping down to the 
water and a small sandy beach with adjacent large wharf and another yard on north side of 
house approximately the size of a tennis court.  A rowboat and at least one canoe are provided.
</p>
<p class="text">
Garbage must be taken to the main road for municipal collection service. Recycling is provided in 
the small town nearby. Electricity, gas, fireplace wood and lawn service are included in the usage fee, 
and there is a telephone available. The phone number is (450) 228-3125 and the address is: 
670 rue Daviault, Entrelacs, Quebec, Canada JOT 2EO.
</p>
{% endblock mainbody %}

{% block rightimages %}
{% endblock rightimages %}