{% extends "cottages.html" %}

{% block mainbody %}
		            
<p class="houseTitle">Mink Point  </p>
<p class="text">The cottage, located on a small peninsula surrounded on three sides by   the lake, was built in 1970.  The property is approximately an acre in   size and has some lovely trails. </p>

<a href="/images/mink/mink_deck2.jpg" rel="lightbox[minkpics]">
<img src="/images/mink/mink_deck2.jpg" height="150" alt="Mink Point" style="float:left; margin-right: 5px;" rel="lightbox" border=0/></a>

<p class="text">The cottage has accommodations for a family of up to  five   people. Furnishings are simple but adequate. The cottage is equipped   with blankets, but family and friends are expected to provide their own sheets and   towels. </p>

<a href="/images/mink/mink_living2.jpg" rel="lightbox[minkpics]">
<img src="/images/mink/mink_living2.jpg" height="150" alt="Mink Point Living Room" style="float:right; margin-right: 5px;" rel="lightbox" border=0/></a>

<p class="text">The living room has a stone fireplace and two sets   of sliding glass doors to an open deck facing the lake on the north side   and a screen porch on the south side.  A picture window faces east   through woods to the lake. The kitchen has an electric stove, running   hot and cold water, a refrigerator, and a dishwasher; it is fully   equipped with tableware and utensils. </p>

<p class="text"><a href="/images/mink/mink_bed.jpg" rel="lightbox[minkpics]">
<img src="/images/mink/mink_bed.jpg" height="150" alt="Mink Point Bedroom" style="float:left; margin-right: 5px;" rel="lightbox" border=0/>
</a></p>

<p class="text">There is a master bedroom with its own fireplace; a second bedroom with   two twin beds.  Additionally, there is a small study with an additional   twin bed and the living room couch opens into a queen bed.  The cottage   is insulated for use year round and each room has its own thermostat   with electric baseboard heating. </p>
<p class="text"> There is an inside shower, an indoor toilet, a small utility closet and a   separate space on the side of the cottage with washer and dryer.   Garbage must be taken to the main road for municipal collection service. </p>


<p class="text"><a href="/images/mink/mink_dock.jpg" rel="lightbox[minkpics]">
<img src="/images/mink/mink_dock.jpg" height="150" alt="Mink Point Wharf" style="float:right; margin-right: 5px;" rel="lightbox" border=0/>
</a></p>

<p class="text"> A rowboat and a canoe go with the cottage.  The wharf is located in a   side bay and sheltered from the prevailing winds.  There is a small   sandy area. </p>
<p class="text"> Electricity and fireplace wood are included in the usage fee. A telephone is   available. The telephone number is (450) 228-2600, and address is: 680   rue Daviault, Entrelacs, Quebec, Canada JOT 2EO. </p>
<p class="text">&nbsp;</p>
<a href="/images/mink/mink_deck.jpg" rel="lightbox[minkpics]" title="Front Porch">
<img src="/images/mink/mink_deck.jpg" height="75" alt="Front Porch" rel="lightbox[minkpics]" border=0/>
</a>
<a href="/images/mink/mink_living.jpg" rel="lightbox" title="Living Room">
<img src="/images/mink/mink_living.jpg" height="75" alt="Living Room" rel="lightbox[minkpics]" border=0/>
</a>

{% endblock mainbody %}

{% block rightimages %}
{% endblock rightimages %}
