{% extends "base.html" %}

{% block title %}{{ block.super }} : Recreation {% endblock title%}

{% block mainimage %}{% endblock mainimage %}

{% block mainbody %}
<br><br>
<b>Lake Safety</b>:  Please be careful on and around the water.  When boating you are officially required to wear personal flotation devices, and take other required safety items with you, or risk getting fined.  The Safe Boating Guide from the Coast Guard now requires the following items on board for canoes, kayaks, and rowboats (and if you operate a powerboat, there are additional requirements):
<ul>
<li> 
Personal floatation device of appropriate size for each person on board
</li><li>
Buoyant heaving line of at least 15m (apparently for attaching to shore/attaching to tow boat/or throwing to assist swimmer in need)
</li><li>
Oar or paddle/or anchor with 15m cable, rope or chain in any combination.
</li><li>
One bailer or manual pump
</li><li>
Sound signaling device or appliance (eg. whistle or a horn)
</li>
</ul>
Several personal flotation devices are located in each cottage and/or in the garage, and each cottage has the other required items.  When you arrive at the cottage, if you find any of these safety items missing or in disrepair, please notify Bill immediately.  Please ensure that you return all of these safety items to their proper place. 
<br><br>
<b>Swimming</b>: Always have a 'safety buddy' to watch. If you're swimming far away from the shoreline, have someone accompany you by boat; otherwise, boaters may not easily see you. Those who 'swim the distance' from the island to old Ross house are allowed to go boating by themselves; it's a distance equidistant to the farthest one would have to swim to shore if a boat capsized. The floating wharf, located between mainland, island, and Bose cottage, is for all to use.
<br><br>
<b>Fishing</b>: The lake fishing is stocked for trout every spring and by summer it's mostly fair (mainly bass and perch); while a license is theoretically required, the rule does not appear to be enforced much.  
<br><br>
<b>Boating</b>: Each cottage has at least one canoe and a rowboat.  Boats are used at your own risk.  Please keep all boats as dry as possible. Take canoes out of water at night and turn upside down on wharf to protect them from wave action. Remember to regularly bail the rowboats, especially when departing so the next guest has a dry boat to arrive to and to prevent rotting of the boats from the inside. There should be a plastic bailer in each boat and a large sponge to soak up excess water and any gunk; if not, please replace. Let Bill know if there are any leaks or problems with any of the boats. The Laser (sailboat) is for family/owner use only unless you are an experienced sailor and know the lake's shallow areas to avoid. The canvas canoes (very fragile) in the garage are also for immediate family use only.  
<br><br>
Please take care of the wooden paddles and oars. When paddles are not in use, place them in the paddle rack provided near each wharf, or place in the shade to prevent warping by the sun and with blade upright to reduce water damage caused by blade contact with damp ground. Remove oars from oar locks when tied up at wharf (oars left in oar locks can get caught against wharf and break with wave action). Use the butt of paddles to push off of rocks, etc., not the blade as the paddle blade itself can be damaged directly or the protective layer of varnish can become broken allowing moisture to slowly enter and damage the paddle. 
<br><br>
<b>Hiking and Walking</b>: There are many dirt roads and various unmarked trails around to explore nearby but best hiking around Entrelacs is at <a href="http://www.parcsregionaux.org/index.jsp?p=24">Foret Ouareau</a>, about 15 minutes north on Route 125. The 200km walk/bike/ski trail, <a href="http://www.laurentians.com/parclineaire/">Parc Linear P'tit Train du Nord</a>/Linear Park, with trail access about 20 minutes away, runs on an old railroad bed. The Mt. Tremblant National Park is about one hour north and features excellent hiking (as well as wilderness canoeing and camping). 
<br><br>
There are many more wilderness places to explore around Quebec. The <a href="http://www.canadatrails.ca/qc/">Canada Trails website</a> has more on hiking, biking, mountain biking, and xc skiing opportunities. 
<br><br>
<b>Biking</b>: There are lots of biking opportunities nearby. The road circumnavigating Lac des Iles, however, is dangerous for biking because there is no shoulder and cars are notoriously speedy; 5 miles/8km from the lake is Route 125, which has a large breakdown lane that makes for safer biking fairly close by. For longer distances, off road, the <a href="http://www.laurentians.com/parclineaire/">Parc Linear P'tit Train du Nord</a>/Linear Park has a 200km trails on old railway bed
which is a very smooth, wide, and gradual, with access about 20 minutes from the lake. If you want to rent a bike, there are several nearby including these <a href="http://www.espressosports.net/contact/contact.php">bike rental locations</a>. Mountain biking is great at the <a href="http://www.farhillsinn.com/">Far Hills Inn</a>, in Val-Morin.
<br><br>
Cyclists can also find out about more opportunities through <a href="http://www.routeverte.com/rv/index2010_e.php">La Route Verte</a>, which was ranked first in the top 10 bike routes on the planet, chosen for their beauty, length and excitement.
<br><br>
<b>Other</b>: There is a simple 9-hole golf course in Ste. Marguerite and others farther away, in Ste. Adele, and Mt. Tremblant.  Ste. Saveur has alpine and water slides. The links on "Local Area" will have other suggestions in the region. 
<br><br>

{% endblock mainbody %}

{% block rightimages %}
{% endblock rightimages %}