{% extends "base.html" %}

{% block title %}{{ block.super }} : Usage Information{% endblock title%}

{% block mainimage %}{% endblock mainimage %}

{% block mainbody %}

<p class="text">
    <br>
    The weekly use rates for 2018 are as follows:
    <br><br>
    Main house: US$ 1,300/week CN$1525<br>
    Island cottage: US$ 1,100/week CN$1300<br>
    Bose cottage : US$ 800/week CN$ 950<br>
    Mink Point cottage: US$ 1,100/week CN$1300<br>
    <br>
    (plus $100 cleaning fee for Main, Island and Mink Point cottages and $75 for Bose cottage)<br>
    <br>

    (Note: we may have to adjust rates midyear if there is a major exchange rate change.)

    <br><br>

    If you are interested in renting let <a href="/contact/">Bill Mott</a> know.
    <br><br>
    Please send a 50% deposit when you make your choice and send the remaining balance no later than the first week of
    June.
    Checks should be made out to Ronald Munger and sent to: 319 Gharkey Street, Santa Cruz, CA 95060 USA
    <br><br>
    Some important documents with information about using the Mott properties:<br><br>
</p>

<a href="/docs/Lac_des_Iles_Property_Information.doc">General Lac des Iles Property Information</a>
<br><br>
<a href="/docs/Leaving_the_Cottage.doc">Checklist for leaving the cottages</a>

<br><br>

<a href="/docs/Directions_to_lake_from_Route_15.doc">Directions to lake from Route 15</a>

<br><br>
<a href="/docs/Lac_des_Iles_Phone_Numbers_2017.pdf">Lac des Iles Phone Numbers</a>



{% endblock mainbody %}